.Classes-th{
    color:var(--purple);
   
}
.submit{
    height: 10px;
}
.Classes-th, .Classes-td{
    padding: 0.6rem 1rem;
}
.dashboard input, .dashboard select{
    border-radius: 6px;
    border: 1px solid #8A70D6;;
    padding:0.6rem 1rem;
    height:2rem;
    box-sizing: border-box;
}
.dash-container{
    display: flex;
}
.add_button{
    border-radius: 10px;
    border: 3px solid #8A70D6;
    padding: 0.6rem 1rem;
    height: 2rem;
    box-sizing: border-box;
    margin: 20px;   
    background-color: #8A70D6;
    height: 36px;
    width: 217px;
    /* font-size: larger; */
    border:none;
    /* width: 217px;
    height: 36px;
    margin: 20px;
    font-size: larger;
    border:none;
    background-color: #8A70D6;
    border-radius: 10px; */
   
    }
table{
    border-collapse: collapse;
  border-spacing: 0;
  width: calc(100% - 2rem);
  border: 1px solid #ddd;
}
.container-col{
    flex-direction: column;
}
.container-row{
    flex-direction: row;
}
.container-row-to-col{
    flex-direction: row;
}
.dash-container-scroll{
    display: block;
    overflow-x: auto;
}
.Classes-th.filtered{
    color:orange;
}
.table-paginator{
    display: flex;
    flex-direction: row;
}
.table-paginator div{
    border: #999 1px solid;
    cursor: pointer;
    padding: 0.6rem 1rem;
    
}
.table-paginator div:first-child{
    border-radius:  6px 0 0 6px;
}
.table-paginator div:last-child{
    border-radius:  0 6px  6px 0;
}
.table-paginator div:hover, .table-paginator .active{
    background-color:var(--purple);
    color:white;

}
#className{
    margin: 20px;
    padding: 20px;
}
#classFloor{
    margin: 20px;
    padding: 20px;
}
/* .dash-container container-row dash-form-btn submit {
    display: flex;
    justify-content: space-between;
    width: 100%;

} */
.pop-up .dash-container{
    /* align-items: end; */
    justify-content: space-around;
    /* background-color: #8A70D6; */
}


.dash-container label {
    margin-left: 20px;
}

@media screen and (max-width: 768px){
    .container-row-to-col{
        flex-direction: column;
    }
    .table-container-scroll{
        overflow-x: auto;
    }
    .dashboard input, select{
        width:80%;
    }
        /*tbody {
            display: block;
            overflow: scroll;
        }*/
    
}
.button-add-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

button.cancel{
    background-color: yellow;
    border-radius: 1px;
    box-sizing: border-box;
}